@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

canvas {
  cursor: default;
}
#buttons{
  text-align: center;
  margin: auto;
}

button{
	 font-family: 'Montserrat', sans-serif;
	 position: absolute;
	 width: 100px;
}
#save {


  bottom: 20px;
  left: 50%;
  height: auto;

  margin-left: -75px;
  background-color: #16a085;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

#save:hover {
  background-color: #10826B;
}

#clear {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 50%;
  height: auto;
  width: 100px;
  margin-left: 30px;
  background-color: #e74c3c;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}


#clear:hover {
  background-color: #c0392b;
}

#color1{

  position: absolute;
  bottom: 800px;
  left: 2%;
  top:20px;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #00FFFF;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

#color1:hover {
  background-color: #0d98ba;
}
#color2{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 690px;
  left: 2%;
  top:130px;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #FF00FF;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}
#color2:hover {
  background-color: #CF3476;
}
#color3{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 580px;
  top: 240px;
  left: 2%;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #FFFF00;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}

#color3:hover {
  background-color: #EFCC00;
}
#color4{
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  bottom: 470px;
  top: 350px;
  left: 2%;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  padding: 10px 0;
}
#color4:hover {
  background-color: 	#36454F;
}

#makeSmaller{
font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 550px;
  left: 2%;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  padding: 0px 0;
}
#makeSmaller:hover {
  background-color: 	#191970;
}

#makeBigger{
font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 660px;
  left: 2%;
  height: 100px;
  width: 100px;
  margin-left: 30px;
  background-color: #000000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  padding: 0px 0;
}
#makeBigger:hover {
  background-color: 	#191970;
}

p {
  text-align: center;
  background-color: #4f4bd1;
  font-style: bold;
}
.clicked {
  stroke: blue;
}
