div{
  margin: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}


a:link, a:visited {
  background-color:  #A9A6A6;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top:25%;
}

a:hover, a:active {
  background-color: #DDD8D8;
}
